{% extends "base.html" %}
{% block tittle %} 
{% endblock tittle %}
    
    {% block body %}
    
    <div id="main">
        <div id= "page1">
            <h1>  The AI your </h1>
            <h2> Endeavor deserves...</h2>
            <p>Elevate your team, your brand, and your impact with AI that's built for Visionary.</p>

        </div>
        <div id ="page2">
            <div id ="scroller">
                <marquee behavior="" direction="">
                    <img src ="static/1.jpg"></img>
                     Plateform
                     solution
                     resouces
                     prizing
                     company
                   <img src ="static/1.jpg"></img>
                </marquee>
            </div>
            <div id="main2">
                <h1>Built Remarkable</h1>
                <h2>for success</h2>
                <p>AI Provision is the purpose-built generative AI platform for company usage. Built on a foundation of enterprise trust, we deeply understands marketing, delivering advanced brand control and an intuitive AI toolkit that allow marketers to build apps and workflows to accelerate their success</p>
            </div>
            <div id="card-container">
                <div class="card" id="card1">
                    <div class="overlay">
                        <h3>AI provision studio</h3>
                        <p>Easily connect apps to relevant data sources in order to deliver high-quality, context-rich outputs.Configure content so it is aligned to your company and brand standards – from format to voice and style.</p>
                    </div>
                    
                </div>
                <div class="card" id="card2">
                    <div class="overlay">
                        <h3>ai tool</h3>
                        <p>Easily connect apps to relevant data sources in order to deliver high-quality, context-rich outputs.Configure content so it is aligned to your company and brand standards – from format to voice and style.</p>
                    </div>
                    
                </div>
                <div class="card" id="card3">
                    <div class="overlay">
                        <h3>knowledge and content</h3>
                        <p>Easily connect apps to relevant data sources in order to deliver high-quality, context-rich outputs.Configure content so it is aligned to your company and brand standards – from format to voice and style.</p>
                    </div>
                    
                </div>
                <div class="card" id="card4">
                    <div class="overlay">
                        <h3>trust foundation</h3>
                        <p>Easily connect apps to relevant data sources in order to deliver high-quality, context-rich outputs.Configure content so it is aligned to your company and brand standards – from format to voice and style.</p>
                    </div>
                    
                </div>

            </div>


        </div>
        <div id ="page3">
            <h5>get started with<br> ai provivision<br> today</h5>
            <p>Artificial Intelligence refers to the intelligence of machines. This is in contrast to the natural intelligence of humans and animals. With Artificial Intelligence, machines perform functions such as learning, planning, reasoning and problem-solving. Most noteworthy, Artificial Intelligence is the simulation of human intelligence by machines. It is probably the fastest-growing development in the World of technology and innovation. Furthermore, many experts believe AI could solve major challenges and crisis situations.</p>
            <div id="c">
                <img src="static/image.png"></img>
            </div>
           
        </div>
    </div>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="static/script.js"></script>
    <script >
        console.log("Script loaded successfully!");

    </script>
    
 
  {% endblock body  %}
